{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash text-center">
    <ul>
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div id="catagory-menu" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Genre</h3>
    </div>
    <div class="panel-body">
        <ul>
        {% for catagory in catagories %}
            <li><a href="{{url_for('view_catagory', catagory_id=catagory.id)}}">{{catagory.name}}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div id="page-content" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% block page_heading %}{% endblock %}</h3>
    </div>
    <div class="panel-body">
        {% block page_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}