{% extends "layout.html" %}

{% block title %} Create Catalog Item {% endblock %}

{% block content %}
<h3>Create Book</h3>
<form method="POST" action="{{url_for('create_catagory_item')}}" enctype="multipart/form-data">
    {{form.csrf_token}}
    {{form.name.label}} {{form.name}}
    {{form.author.label}} {{form.author}}
    {{form.description.label}} {{form.description}}
    {{form.catagory_id.label}} {{form.catagory_id}}
    {{form.image.label}} {{form.image}}
    <br />
    <input type="submit" value="Create Book">
</form>
{% endblock %}