{% extends "action-layout.html" %}

{% block title %} Delete Book {% endblock %}

{% block page_heading %}Delete Book{% endblock %}
{% block page_content %}
<p>Are you sure you want to delete?</p>
<input id="content-delete-btn" type="submit" value="Delete Book"> |
<a href="{{url_for('view_catagory_item', catagory_item_id=catagory_item_id)}}">No, take me back</a>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $('#content-delete-btn').click(function () {
        $.ajax({
            method: 'POST',
            url: "{{url_for('delete_catagory_item', catagory_id=catagory_id, catagory_item_id=catagory_item_id)}}",
            success: function (result) {
                if (result.isDeleted) {
                    window.location.href = "{{url_for('view_catagory', catagory_id=catagory_id)}}";
                }
            }
        });
    });
</script>
{% endblock %}