{% extends "action-layout.html" %}

{% block title %} Edit Book {% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{{url_for('dashboard')}}">Home</a></li>
  <li><a href="{{url_for('view_catagory', catagory_id=item.catagory_id)}}">Catagory</a></li>
  <li class="active">Edit</li>
</ol>
{% endblock %}

{% block page_heading %}Edit Book{% endblock %}
{% block page_content %}
<form method="POST" action="{{url_for('edit_catagory_item', catagory_item_id=catagory_item_id)}}" enctype="multipart/form-data">
    {{form.csrf_token}}
    <div class="input-group">
        {{form.name.label}}<br />
        {{form.name}}
    </div>
    <div class="input-group">
        {{form.author.label}}<br />
        {{form.author}}
    </div>
    <div class="input-group">
        {{form.description.label}}<br />
        {{form.description}}
    </div>
    <div class="input-group">
        {{form.catagory_id.label}}<br />
        {{form.catagory_id}}
    </div>
    <div class="input-group">
        <label>Current Image File</label><br />
        <input type="text" value="{{item.picture}}" disabled>
    </div>
     <div class="input-group">
        {{form.image.label}}<br />
        {{form.image}}
    </div>
    <br />
    <input type="submit" value="Save Edits"> |
    <a href="{{url_for('view_catagory_item', catagory_item_id=catagory_item_id)}}">Back</a>
</form>
{% endblock %}