{% extends "catagory-menu-layout.html" %}

{% block title %} Brian's Book Catalog {% endblock %}

{% block page_heading %} Newest Books {% endblock %}
{% block page_content %}
<div class="container-fluid">
    <div class="row">
        {% for book in catagory_items %}
        <div class="col-md-4 text-center book-item">
            {% if book.picture %}
            <img src="{{book.picture}}" height="200" width="200"><br />
            {% else %}
            <div class="image-placeholder">
                No Image
            </div>
            {% endif %}
            <strong><a href="{{url_for('view_catagory_item', catagory_item_id=book.id)}}">{{book.name}}</a></strong><br />
            <small>by: {{book.author}}</small>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}